<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hjl.videoplay" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />



    <application>



        <activity android:name=".ui.VideoPlayActivity"
            android:theme="@style/TransparentTheme" />




    </application>
</manifest>
